body {
    color: #3d464d;
}
a {
    color: #20a8d8;
    &:hover {
        color: #20a8d8;
    }
}
.dark {
    color: #e4e7ea;
    background-color: #2f353a;
    .scrollbar-y-custom {
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #999;
        }
    }
    .btn {
        &-primary {
            background-color: #20a8d8;
            border-color: #20a8d8;
            &:hover {
                background-color: #1b8eb7;
                border-color: #1985ac;
            }

            &:not(:disabled):not(.disabled) {
                &:active,
                .active {
                    background-color: #1985ac;
                    border-color: #187da0;
                }
            }
        }
        &-success {
            background-color: #4dbd74;
            border-color: #4dbd74;
            &:hover {
                background-color: #3ea662;
                border-color: #3a9d5d;
            }
        }
        &-info {
            background-color: #63c2de;
            border-color: #63c2de;
            &:hover {
                background-color: #43b6d7;
                border-color: #39b2d5;
            }
        }
        &-danger {
            background-color: #f86c6b;
            border-color: #f86c6b;
            &:hover {
                background-color: #f64846;
                border-color: #f63c3a;
            }
        }

        &-link {
            color: #20a8d8;
            &:hover {
                color: #007bff;
            }
        }
        &-fu {
            background-color: transparent !important;
        }
    }
    .bg-primary {
        background-color: #20a8d8 !important;
    }
    .show > .btn-primary.dropdown-toggle {
        background-color: #1985ac;
        border-color: #187da0;
    }
    .table {
        &-default {
            border: 1px solid #23282c;
            th {
                background-color: #343b41;
                border: 1px solid #23282c;
            }
            td {
                border: 1px solid #23282c;
            }
        }
    }
    .pagination {
        a {
            color: #20a8d8;
            background-color: #3a4149;
            border: 1px solid #23282c;
        }
        span,
        a:hover {
            color: #e4e7ea;
            background-color: #2f353a;
            border: 1px solid #23282c;
        }
    }
    .card {
        background-color: #3a4149;
        border: 1px solid #23282c;
    }
    .form-control {
        color: #e4e7ea;
        background-color: #515b65;
        border: 1px solid #23282c;
        &:focus {
            background-color: #515b65;
            border-color: #8ad4ee;
            box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
        }
    }
    .input-group-text {
        color: #e4e7ea;
        background-color: #343b41;
        border: 1px solid #23282c;
    }
    .text-error {
        color: #e55353;
    }
    .modal {
        &-content {
            background-color: #343b41;
        }
        &-footer,
        &-header {
            border: none;
        }
    }
    .close {
        color: #e4e7ea;
        &:not(:disabled):not(.disabled) {
            &:focus,
            &:hover {
                color: #f86c6b;
            }
        }
    }

    .hd {
        &-menu {
            background-color: #3a4149;
            border-bottom: 1px solid #23282c;
            a,
            .hd-sub-item {
                color: #c8ced3;
                &:hover {
                    color: #e4e7ea;
                }
            }
        }
        &-nav {
            &-sub {
                background-color: #34343b;
                border: 1px solid #181924;
            }
            &-group {
                background-color: #20202a;
            }
        }
    }
    .left {
        &-main {
            background-color: #3a4149;
            border-right: 1px solid #23282c;
        }
        &-nav {
            li {
                a {
                    color: #e4e7ea;
                    &.active,
                    &:hover {
                        background-color: #343b41;
                        color: #fff;
                        i {
                            color: #20a8d8;
                        }
                    }
                }
            }
        }
    }
    .breadcrumb {
        background-color: #3a4149;
        border-bottom: 1px solid #23282c;
    }
    .block {
        &-default {
            background-color: #3a4149;
            border: 1px solid #23282c;
        }
        &-header {
            border-bottom: 1px solid #23282c;
        }
    }
    .nav-tabs {
        border-color: #23242d;
        .nav-link {
            &:hover,
            &:focus {
                border-color: #23242d;
            }
        }
        .nav-item.show .nav-link,
        .nav-link.active {
            color: #e4e7ea;
            background-color: #343b41;
            border-color: #23242d;
        }
    }
    .tab-content {
        background-color: #343b41;
        border: 1px solid #23242d;
    }
    .footer-main {
        color: #e4e7ea;
        background-color: #3a4149;
        border-top: 1px solid #23282c;
    }
}
