body {
    font-family: 'OpenSansWeb', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3d464d;
}

.login {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.bg-primary {
    background-color: #20a8d8 !important;
}

.btn-primary {
    background-color: #20a8d8;
    border-color: #20a8d8;
}

    .btn-primary:hover {
        background-color: #1b8eb7;
        border-color: #1985ac;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        background-color: #1985ac;
        border-color: #187da0;
    }

.btn-link {
    color: #20a8d8;
}

    .btn-link:hover {
        color: #007bff;
    }
.dark {
    color: #e4e7ea;
    background-color: #2f353a;
}

    .dark .card {
        background-color: #3a4149;
        border: 1px solid #23282c;
    }
    .dark .card-body {
        padding: 0;
    }

    .dark .form-control {
        color: #e4e7ea;
        background-color: #515b65;
        border: 1px solid #23282c;
    }

        .dark .form-control:focus {
            background-color: #515b65;
            border-color: #8ad4ee;
            box-shadow: 0 0 0 0.2rem rgba(32,168,216,.25);
        }

    .dark .input-group-text {
        font-size: .875rem;
        color: #e4e7ea;
        background-color: #343b41;
        border: 1px solid #23282c;
    }

    .dark .modal-content {
        background-color: #343b41;
    }

    .dark .modal-footer, .dark .modal-header {
        border: none;
    }

    .dark .close {
        color: #e4e7ea;
        text-shadow: none;
        opacity: 1;
    }

        .dark .close:not(:disabled):not(.disabled):focus, .dark .close:not(:disabled):not(.disabled):hover {
            color: #fff;
            opacity: 1;
        }
    .dark .text-error {
        color: #e55353;
        font-size: 13px;
        height: 40px;
        display: table-cell;
        vertical-align: bottom;
    }
.login-language {
    position: absolute;
    top: 30px;
    right: 50px;
    input {
        margin-left: 10px;
    }
}